<% provide(:title, "Pokemon Games") %>

<div class="center main jumbotron">

  <h2>
    Welcome to Pokemon Games
  </h2>

  <%= link_to "START",  pokemon_battles_path, class: "btn btn-main btn-lg btn-primary" %>
</div>